/Destiny.Core.Flow/Destiny.Core.Flow.API/bin
/Destiny.Core.Flow/Destiny.Core.Flow.API/obj
/Destiny.Core.Flow/Destiny.Core.Flow.Commom/bin
/Destiny.Core.Flow/Destiny.Core.Flow.Commom/obj
/Destiny.Core.Flow/Destiny.Core.Flow.Context/obj
/Destiny.Core.Flow/Destiny.Core.Flow.Context/bin
/Destiny.Core.Flow/Destiny.Core.Flow.CustomExtension/obj
/Destiny.Core.Flow/Destiny.Core.Flow.CustomExtension/bin
/Destiny.Core.Flow/Destiny.Core.Flow.IRepositry/obj
/Destiny.Core.Flow/Destiny.Core.Flow.IRepositry/bin
/Destiny.Core.Flow/Destiny.Core.Flow.IServices/obj
/Destiny.Core.Flow/Destiny.Core.Flow.IServices/bin
/Destiny.Core.Flow/Destiny.Core.Flow.Model/obj
/Destiny.Core.Flow/Destiny.Core.Flow.Model/bin
/Destiny.Core.Flow/Destiny.Core.Flow.Repositry/obj
/Destiny.Core.Flow/Destiny.Core.Flow.Repositry/bin
/Destiny.Core.Flow/Destiny.Core.Flow.Services/obj
/Destiny.Core.Flow/Destiny.Core.Flow.Services/bin
/Destiny.Core.Flow/.vs
/Destiny.Core.Flow/Destiny.Core.Flow/obj
/Destiny.Core.Flow/Destiny.Core.Flow/bin
/Destiny.Core.Flow/Destiny.Core.Flow.Log4Net/bin
/Destiny.Core.Flow/Destiny.Core.Flow.Log4Net/obj
/Destiny.Core.Flow/Destiny.Core.Flow.AutoMapper/obj
/Destiny.Core.Flow/Destiny.Core.Flow.AutoMapper/bin
/Destiny.Core.Flow/Destiny.Core.Tests/obj
/Destiny.Core.Flow/Destiny.Core.Tests/bin
/Destiny.Core.Flow/Destiny.Core.Flow.IRepository/obj
/Destiny.Core.Flow/Destiny.Core.Flow.IRepository/bin
/Destiny.Core.Flow/Destiny.Core.Flow.Repository/obj
/Destiny.Core.Flow/Destiny.Core.Flow.Repository/bin
/Destiny.Core.Flow/Destiny.Core.Flow.SeriLog/obj
/Destiny.Core.Flow/Destiny.Core.Flow.SeriLog/bin
/Destiny.Core.Flow/Destiny.Core.Flow.Swagger/bin
/Destiny.Core.Flow/Destiny.Core.Flow.Swagger/obj
/Destiny.Core.Flow/Destiny.Core.Flow.AspNetCore/obj
/Destiny.Core.Flow/Destiny.Core.Flow.AspNetCore/bin
/Destiny.Core.Flow/Destiny.Core.Flow.Identity/bin
/Destiny.Core.Flow/Destiny.Core.Flow.Identity/obj
/Destiny.Core.Flow/Destiny.Core.Flow.EntityFrameworkCore/obj
/Destiny.Core.Flow/Destiny.Core.Flow.EntityFrameworkCore/bin
/Destiny.Core.Flow/Destiny.Core.Flow.API/DestinyCoreDb.txt
/Destiny.Core.Flow/Destiny.Core.Flow.API/logs
/src/Destiny.Core.Flow/obj
/src/Destiny.Core.Flow/bin
/src/Destiny.Core.Flow/obj
/src/Destiny.Core.Flow/bin
/src/Destiny.Core.Flow.API/DestinyCoreDb.txt
/src/Destiny.Core.Flow.API/bin
/src/Destiny.Core.Flow.API/logs
/src/Destiny.Core.Flow.API/obj
/src/Destiny.Core.Flow.AspNetCore/obj
/src/Destiny.Core.Flow.AspNetCore/bin
/src/Destiny.Core.Flow.AutoMapper/obj
/src/Destiny.Core.Flow.AutoMapper/bin
/src/Destiny.Core.Flow.Commom/obj
/src/Destiny.Core.Flow.Commom/bin
/src/Destiny.Core.Flow.CustomExtension/obj
/src/Destiny.Core.Flow.CustomExtension/bin
/src/Destiny.Core.Flow.EntityFrameworkCore/obj
/src/Destiny.Core.Flow.EntityFrameworkCore/bin
/src/Destiny.Core.Flow.Identity/obj
/src/Destiny.Core.Flow.Identity/bin
/Destiny.Core.Flow.IServices/obj
/Destiny.Core.Flow.IServices/bin
/src/Destiny.Core.Flow.Log4Net/obj
/src/Destiny.Core.Flow.Log4Net/bin
/src/Destiny.Core.Flow.Model/obj
/src/Destiny.Core.Flow.Model/bin
/src/Destiny.Core.Flow.SeriLog/obj
/src/Destiny.Core.Flow.SeriLog/bin
/src/Destiny.Core.Flow.Services/obj
/src/Destiny.Core.Flow.Services/bin
/src/Destiny.Core.Flow.Swagger/obj
/src/Destiny.Core.Flow.Swagger/bin
/src/Destiny.Core.Tests/obj
/src/Destiny.Core.Tests/bin
/src/Destiny.Core.Flow.IServices/bin
/src/Destiny.Core.Flow.IServices/obj
/.vs
/src/Destiny.Core.Flow.DTOs/obj
/src/Destiny.Core.Flow.DTOs/bin
/Destiny.Core.Tests/obj
/Destiny.Core.Tests/bin
/src/Destiny.Core.Flow.Repository/obj
/src/Destiny.Core.Flow.Repository/bin
