@model Destiny.Core.Flow.IdentityServer.IdentityServerFour.LoginViewModel
<partial name="_ValidationSummary" />
@if (Model.EnableLocalLogin)
{
    <div class="sub-main-w3">
        <form asp-route="Login">
            <h2>
                欢迎使用DestinyCore系统
            </h2>
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-style-agile">
                <label>
                    用户名
                </label>
                <input placeholder="请输入用户名" asp-for="Username" autofocus>
            </div>
            <div class="form-style-agile">
                <label>
                     密码：
                </label>
                <input type="password" placeholder="请输入密码" asp-for="Password" autocomplete="off">
            </div>
            <div class="form-style-agile">
                @if (Model.AllowRememberLogin)
                {
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="RememberLogin">
                            <label class="form-check-label" asp-for="RememberLogin">
                                Remember My Login
                            </label>
                        </div>
                    </div>
                }
            </div>
     
            <div class="form-style-agile">
                <a asp-controller="Account" asp-action="QQAuthorize">QQ<img class="image-po" src="~/Connect_logo_5.png" /></a>
            </div>
            <button class="button-sub" name="button" value="login">登录</button>
        </form>
    </div>
}
@if (Model.VisibleExternalProviders.Any())
{
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2>External Account</h2>
            </div>
            <div class="card-body">
                <ul class="list-inline">
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <li class="list-inline-item">
                            <a class="btn btn-secondary"
                               asp-controller="External"
                               asp-action="Challenge"
                               asp-route-scheme="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                @provider.DisplayName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>Invalid login request</strong>
        There are no login schemes configured for this request.
    </div>
}