<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>DestinyCore</title>
    <link href="~/lib/fontawesome-all.css" rel="stylesheet"  asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="~/logo.png" />
    <link href="~/lib/font-awesome.min.css" rel="stylesheet"  asp-append-version="true" />
    <link href="~/lib/style.css" rel="stylesheet" type="text/css" media="all" asp-append-version="true" />
    <script src="~/js/jquery-3.3.1.min.js"  asp-append-version="true" ></script>
</head>
<body>
    <div id="bg">
        <canvas></canvas>
        <canvas></canvas>
        <canvas></canvas>
    </div>
    @*<partial name="_Nav" />*@
    @RenderBody()
    <div class="footer">
        <a>版权所有@星睿开发团队</a>
    </div>

    @*<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>*@
    <script src="~/js/canva_moving_effect.js"  asp-append-version="true" ></script>
    <script src="~/js/canvaanimation.js"  asp-append-version="true" ></script>
    @RenderSection("scripts", required: false)
</body>
</html>
